#burger-container {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: medium;
    font-family: "Chalkduster", cursive;
    width: 250px;
    height: 350px;
    border: 10px solid #8B4513;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    text-align: center;
}

#burger-container p {
    text-align: center;
    font-size: larger;
}

body {
    background-image: url(https://images5.alphacoders.com/126/1260805.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#belchers-container {
    padding-top: 700px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    justify-content: center;
    text-align: center;
}

#form-container {
    padding-left: 750px;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
}

#belchers-container .belcher {
    margin: 10px;
    position: relative;
}

#belchers-container .belcher .tooltip {
    display: none;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

#belchers-container .belcher:hover .tooltip {
    display: block;
}

#belchers-container .belcher:hover img {
    opacity: 0.8;
    filter: grayscale(100%);
}

input {
    text-align: center;
}

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }

    #burger-container {
        order: 1;
        min-width: 250px;
    }

    #form-container {
        order: 2;
        margin: auto;
        width: 100%;
    }

    #belchers-container {
        order: 3;
    }

    footer {
        order: 4;
    }
}